{{!< default}}

    <div class="card-list">

        <div class="first-part">
        {{#foreach posts from="1" to="6"}}
            {{#has tag="fashion"}}
                {{> "card"}}
            {{/has}}
        {{/foreach}}
        </div>

        <div class="top-rated">
         {{> "topCardList"}}   
        </div>
         
        <div class="second-part">
            {{#foreach posts from="7" visibility="all"}}
                {{#has tag="fashion"}}
                    {{> "card"}}
                {{/has}}
            {{/foreach}}
        </div>
    
    </div>