.error{
    display: flex;
    height: 100%;
    padding: 140px 20px 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width: 520px){
    .error {
        padding: 50px 20px;
    }
}
.error p{
    font-family: Didot;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 68px;
    /* identical to box height, or 113% */

    text-align: center;

    color: #000000;
    margin-bottom: 16px;
}
.error span{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 50px;
}
.error a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: black!important;
    min-width: 200px;
    max-width: 200px;
    min-height: 50px;
    max-height: 50px;

    border: 1px solid #CACFD4;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;

}
