.error{
    display: flex;
    height: 100%;
    padding: 50px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.error p, .error a{
    font-family: Didot;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 68px;
    /* identical to box height, or 113% */

    text-align: center;

    color: #000000;
    margin-bottom: 16px;
}
.error span{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 50px;
}
.error a{
    font-size: 40px;
    line-height: 48px;
}